In [1]:
for temp in range(1,11):
  print (temp)

1
2
3
4
5
6
7
8
9
10

In [2]:
i = 20
while i >= 1:
  print (i)
  i -=1

20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1

In [9]:
number = int(input("enter any number"))
for temp in range(1 , number+1):
  print(temp)

enter any number 5

1
2
3
4
5

In [10]:
even = 10
for temp in range(1,even+1):
  if temp % 2 == 0:
    print(temp)

2
4
6
8
10

In [11]:
odd = int(input("enter any number"))
for temp in range (1 , odd+1):
  if temp % 2 != 0:
    print(temp)

enter any number 30

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29

In [12]:
wish = "happy birthday"
for temp in range(1 ,6):
  print(wish)

happy birthday
happy birthday
happy birthday
happy birthday
happy birthday

In [13]:
number = int(input("enter any number"))
for temp in range(1 , number+1):
  print(temp**2)

enter any number 5

1
4
9
16
25

In [14]:
table = int(input("enter any number"))
for temp in range(1 , 11):
  print(f"{table} X {temp} = {table*temp}")

enter any number 2

2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
2 X 10 = 20

In [18]:
a = 3
b = 4
for temp in range(8):
  term = a + temp * b
  print (term)

3
7
11
15
19
23
27
31

In [19]:
start = 2
diff = 3
range_list = int(input("enter the number"))
print("first six number of gm")
for temp in range(range_list):
  term = start * (diff ** temp)
  print (term)

enter the number 5

first six number of gm
2
6
18
54
162

In [21]:
addition = int(input("enter any number: "))
total = 0
for temp in range(1 , addition+1):
  total +=temp
print(total)

enter any number:  3

6

In [23]:
reciprocal  = int(input("enter anu number: "))
total = 0.0
for temp in range (1 , reciprocal+1):
  total += 1/temp
print (f'{total:.2f}')

enter anu number:  4

2.08

In [24]:
total = 0
for temp in range(5):
  num =  int(input("enter any number: "))
  total += num
print (total)

enter any number:  5
enter any number:  5
enter any number:  5
enter any number:  5
enter any number:  5

25

In [25]:
num =  int(input("enter any number: "))
fact = 1
for temp in range(1 , num+1):
  fact *=temp 
print (fact)

enter any number:  6

720

In [26]:
base = int(input("enter a base number: "))
exponent = int(input("enter a exponent number: "))
total = 1
if exponent > 0 :
  for temp in range(exponent):
    total *= base
elif exponent < 0:
  for temp in range(-exponent):
    total *= base
else:
  total = 1
print(total)

enter a base number:  5
enter a exponent number:  2

25