## loops

# hi ahsan goodmorning

In [7]:
for temp in [1,2,3,4,5,6]:
    print (temp)

1
2
3
4
5
6

In [24]:
message ="happy birthday"
times = int(input('enter number:'))
for temp in range(times):
    print (message)

enter number: 6

happy birthday
happy birthday
happy birthday
happy birthday
happy birthday
happy birthday

In [22]:
numbers = int(input())
for temp in range (1 , numbers+1):
    print (temp**2)

 6

1
4
9
16
25
36

In [29]:
table = int(input("enter any Number:"))
for temp in range (1 , 11):
    print (f"{table} * {temp} = {temp*table}")

enter any Number: 7

7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
7 * 10 = 70

In [45]:
times = 10
for table in range(2,6):
    for temp in range(times):
        print (f"{table} * {temp+1} = {table*(temp+1)}")
    print(f"--------------")  
    times-=1

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20
--------------
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
--------------
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
--------------
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
--------------

In [6]:
bio_data = {"F_name":"Ahsan",
 "L_name" : "Rashid",
 "age" : 23,
 "weight":55,
 "marital_Status":True
}
print(bio_data)

{'F_name': 'Ahsan', 'L_name': 'Rashid', 'age': 23, 'weight': 55, 'marital_Status': True}

In [7]:
bio_data ["L_name"] = "Rashid Usman"

In [8]:
bio_data

{'F_name': 'Ahsan',
 'L_name': 'Rashid Usman',
 'age': 23,
 'weight': 55,
 'marital_Status': True}

In [9]:
bio_data.pop("marital_Status")

True

In [10]:
bio_data

{'F_name': 'Ahsan', 'L_name': 'Rashid Usman', 'age': 23, 'weight': 55}

In [11]:
bio_data.popitem()

('weight', 55)

In [12]:
bio_data

{'F_name': 'Ahsan', 'L_name': 'Rashid Usman', 'age': 23}

In [13]:
bio_data.setdefault("f_name",56)
bio_data

{'F_name': 'Ahsan', 'L_name': 'Rashid Usman', 'age': 23, 'f_name': 56}

In [14]:
bio_data

{'F_name': 'Ahsan', 'L_name': 'Rashid Usman', 'age': 23, 'f_name': 56}

In [15]:
bio_data.setdefault("F_name" , "Usman")
bio_data

{'F_name': 'Ahsan', 'L_name': 'Rashid Usman', 'age': 23, 'f_name': 56}

In [16]:
bio_data.pop

In [19]:
bio_data.pop('f_name')

56

In [20]:
bio_data

{'F_name': 'Ahsan', 'L_name': 'Rashid Usman', 'age': 23}