## Print Your Name with your Father name and Date of birth using suitable escape sequence charactor

In [7]:
print("Name:Ahsan Rashid\nFather's Name: Rashid Usman\nDate OF birth:16 sep")

Name:Ahsan Rashid
Father's Name: Rashid Usman
Date OF birth:16 sep

## Write your small bio using variables and print it using print function

In [22]:
Name = "Ahsan";
Father_Name = "Rashid Usman"
education = "bachlors"
print(f"My name is {Name} And my father's Name is {Father_Name} and my education is{education}")

My name is Ahsan And my father's Name is Rashid Usman and my education isbachlors

## Write a program in which use all the operators we can use in Python

In [39]:
num1 = 10
num2 = 5
print("addition" , num1 + num2);
print("subtraction",num1 - num2);
print("multiplication", num1*num2)
print("division", num1/num2)
print("is equal:", num1 == num2)
print("is not equal:", num1 != num2)
print("num1 is greater:", num1 > num2)

addition 15
subtraction 5
multiplication 50
division 2.0
is equal: False
is not equal: True
num1: True

## Completes the following steps of small task: Mention Marks of English , Islamiat and Maths out of 100 in 3 different variables Mention Variable of Total Marks and assign 300 to it Calculate Percentage

In [46]:
maths = int(input())
english = 70
islamiyat = 70
total_marks = 300
percentage = (maths + english + islamiyat)*100/total_marks
percentage

 80

73.33333333333333

## A company decided to give bonus of 5% to employee if his/her year of service is more than 5 years. Ask user for their salary and year of service and print the net bonus amount.

In [54]:
year_of_service = int(input("enter the year of service"))
salary =int(input("ENTER your salary"))
updated_salary = salary * 0.05
if year_of_service > 5:
    print (updated_salary)
else:
    print (salary)

enter the year of service 3
ENTER your salary 500000

500000

## Write a program to check whether a number entered by user is even or odd.

In [57]:
age = int(input("enter Your age:"))
if age > 17:
    print("eligible")
else:
    print("not eligible")

enter Your age 8

not eligible

In [67]:
number=int(input("Enter the Number"))
if number%2 == 0:
    print ("even")
else:
    print("odd")

Enter the Number 7

odd

In [68]:
number = int(input("Enter Number:"))
if number % 7 == 0:
    print("divisible")
else:
    print("Not divisible")

Enter Number: 8

Not divisible

In [78]:
number_one = int(input("Enter Number:"))
if number_one % 5 == 0:
    print("Hello")
else:
    print("Bye")

Enter Number: 5

Hello

In [ ]:
int(input("enter a number"))