In [28]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt

In [29]:
left_table = {
    'Date': ['01-01-2020', '02-01-2020', '03-01-2020', '04-01-2020'],
    'CountryID': [1, 1, 3, 2],
    'Units': [40, 25, 30, 35]
}

In [30]:
right_table = {
    'ID': [3, 4],
    'Country': ['Pandama', 'Spain']
}

In [31]:
left_table_df = pd.DataFrame(left_table)
left_table_df

         Date  CountryID  Units
0  01-01-2020          1     40
1  02-01-2020          1     25
2  03-01-2020          3     30
3  04-01-2020          2     35

In [32]:
right_table_df = pd.DataFrame(right_table)
right_table_df

   ID  Country
0   3  Pandama
1   4    Spain

In [33]:
left_table_df.merge(right_table_df, left_on='CountryID', right_on='ID').drop('ID', axis=1)

         Date  CountryID  Units  Country
0  03-01-2020          3     30  Pandama

In [34]:
left_table_df.merge(right_table_df, left_on='CountryID', right_on='ID')[['ID', 'Country']].drop_duplicates(subset='ID')

   ID  Country
0   3  Pandama

In [37]:
left_table_df.merge(right_table_df, left_on='CountryID', right_on='ID', how='left').drop('ID', axis=1)

         Date  CountryID  Units  Country
0  01-01-2020          1     40      NaN
1  02-01-2020          1     25      NaN
2  03-01-2020          3     30  Pandama
3  04-01-2020          2     35      NaN

In [48]:
left_table_df.merge(right_table_df, left_on='CountryID', right_on='ID', how='right').drop('ID', axis=1)

         Date  CountryID  Units  Country
0  03-01-2020        3.0   30.0  Pandama
1         NaN        NaN    NaN    Spain

In [51]:
merged_df = left_table_df.merge(right_table_df, left_on='CountryID', right_on='ID', how='left')
unmatched = merged_df[merged_df['ID'].isna()]
unmatched

         Date  CountryID  Units  ID Country
0  01-01-2020          1     40 NaN     NaN
1  02-01-2020          1     25 NaN     NaN
3  04-01-2020          2     35 NaN     NaN